$grey: #F2F2F2;
$grey-dark: #2D2D2D;
$black: #111111;
$cnBlue: #003594;
$bg-grey: rgba($grey, 1);
$border-color: #D8D8D8;
$main-nav-height: 80px;
$sub-nav-height: 40px;
$roboto-font-stack: 'Roboto', sans-serif;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.drop-shadow {
  box-shadow: 0px 5px 16px -5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 5px 16px -5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 5px 16px -5px rgba(0,0,0,0.3);
}

@mixin attr-transition ($attr) {
  -webkit-transition: $attr 0.25s;
  -moz-transition: $attr 0.25s;
  -o-transition: $attr 0.25s;
  transition: $attr 0.25s;
}

@mixin attr-transition-height ($attr) {
  -webkit-transition: $attr 0.25s;
  -moz-transition: $attr 0.25s;
  -o-transition: $attr 0.25s;
  transition: $attr 0.25s;
}

a {
  text-decoration: none;
  @include attr-transition(color);
}

.open {
  display: block;
}

.close {
  display: none;
}

.cn_navigation{
  display: flex;
  /*position: fixed;*/
  flex-flow: column;
  z-index: 3000;
  line-height: initial;
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    flex-basis: auto;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
    padding: 0;
    height: auto;
  }

  .main_nav_container {
    display: flex;
    width: 100vw;
    margin: 0 auto;
    z-index: 2;
    background-color: #fff;
    border-bottom: 1px solid $border-color;
    @media only screen
      and (max-width: 1260px) {
        margin: initial;
    }
  }
  .main_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1248px;
    padding: 10px 0;
    margin: 0 auto;
    @include attr-transition(all);
    @media only screen
      and (max-width: 1260px) {
        margin: initial;
    }
    @media only screen
      and (max-width: 500px) {
        padding:5px 0;
    }
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 50px;
        @include attr-transition-height(all);
      }

      @media only screen
        and (max-width: 1260px) {
          padding-left: 15px;
      }
      @media only screen
        and (max-width: 800px) {
          padding-left: 15px;
      }
      @media only screen
        and (max-width: 500px) {
          img {
            height:34px;
          }

      }
    }
    .nav_links {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      ul {
        &.lang_search {
          display: flex;
          justify-content: flex-end;
          li {
            display:flex;
            align-items: center;
            a {
              font-family: $roboto-font-stack;
              font-size: 0.625rem;
              font-weight: 500;
              letter-spacing: 0.25px;
              color: $grey-dark;
              padding-right: 14px;
              text-transform: uppercase;
            }
            &:last-child {
              a {
                padding-right: 0;
              }
            }
          }
          /* Search box */
          .search-box {
            border: solid 1px #ececec;
            display: inline-block;
            position: relative;
            height: 25px !important;
            border-radius: 50px;
            padding:0 6px;
            img {
              cursor: pointer;
            }
            input[type="text"] {
              display: none;
              width: 0px;
              height: 25px;
              margin:0;
              border: none;
              box-sizing: border-box;
              box-shadow: none;
              border-radius: 50px;
              color: #696969;
              background-color: transparent !important;
              transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 0.5) 600ms;
              @include attr-transition(width);
              &::placeholder {

              }
              &:focus {
                outline: none;
              }
              &:focus, &:not(:placeholder-shown) {
                width: 200px;
                transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
                + span {
                  bottom: 13px;
                  right: 10px;
                  transition: bottom 300ms ease-out 800ms, right 300ms ease-out 800ms;
                }
                + span:after {
                  top: 0;
                  right: 10px;
                  opacity: 1;
                  transition: top 300ms ease-out 1100ms, right 300ms ease-out 1100ms, opacity 300ms ease 1100ms;
                }
              }
              &.onSearchIconClick {
                display: inline-block;
                width: 200px;
                transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
                + span {
                  bottom: 13px;
                  right: 10px;
                  transition: bottom 300ms ease-out 800ms, right 300ms ease-out 800ms;
                }
                + span:after {
                  top: 0;
                  right: 10px;
                  opacity: 1;
                  transition: top 300ms ease-out 1100ms, right 300ms ease-out 1100ms, opacity 300ms ease 1100ms;
                }
              }
            }
          }
        }
        &.top_links {
          /*font-size:1.375rem;*/
          font-size: calc(16.4px + 0.3vw);
          /*line-height: calc(1.5em + 0.3333vw);*/
          font-weight: 400;
          text-transform: uppercase;
          color: $black;
          justify-content: flex-end;
          align-items: baseline;
          line-height: 0;
          li {
            padding-right: 24px;
            &:last-child {
              padding-right: 0;
            }
            a {
              font-family: $roboto-font-stack;
              letter-spacing: 0.6px;
              color: $black;
              &:hover {
                color: $cnBlue;
              }
            }
          }
        }
      }
      @media only screen
        and (max-width: 1260px) {
          padding-right: 15px;
      }
      @media only screen
        and (max-width: 800px) {
          display: none;
      }
    }

    .nav-hamburger {
      opacity:0;
      display: none;
      button {
        outline: none;
        &.hamburger {
          @include attr-transition-height(all);
          @media only screen
            and (max-width: 500px) {
              padding: 8px 15px 5px 15px;
          }
        }
      }
      @media only screen
        and (max-width: 800px){
          display: block;
          opacity:1;
      }
    }
  }

  .sub_nav {
    display: flex;
    /*height: $sub-nav-height;*/
    background-color: $bg-grey;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 13px 0;
    ul {
      width:1248px;
      /*font-size: 1.1125rem;*/
      font-size: calc(12px + 0.2vw);
      font-weight: 400;
      letter-spacing: calc(0.5px + 0.01vw);
      text-transform: uppercase;
      /*padding:0 20px;*/
      justify-content: space-between;
      line-height: 1.2;
      @media only screen
        and (max-width: 1260px) {
          font-size: calc(12px + 0.08vw);
          padding:0 15px;
          width: 100%;
      }
      @media only screen
        and (max-width: 800px) {
          width: 100%;
          flex-direction: column;
          align-items: flex-start;
          font-size: calc(14px + 0.4vw);
          font-weight: 500;
          letter-spacing: calc(0.5px + 0.1vw);
      }
      li {
        &.last {
          @media only screen
            and (max-width: 800px) {
              padding-bottom: 10px;
          }
        }
        &.top_links_m {
          &.first {
            padding-top:10px;
            border-top:1px solid $border-color;
          }
          display: none;
          @media only screen
            and (max-width: 800px) {
              display: block;
          }
        }
        &.misc_links_m {
          font-weight: 300;
          display: none;
          &.first {
            padding-top:10px;
            border-top:1px solid $border-color;
          }
          .navbar-form {
            display: flex;
            align-items: baseline;
            input[type="text"] {
              width:95%;
              height:30px;
              background-color: #fff;
            }
            img {
              margin: 0 10px;
            }
          }
          @media only screen
            and (max-width: 800px) {
              display: block;
          }
        }
        &.social_links_m {
          padding-top:25px;
          display: none;
          a {
            i {
              color: $black;
              padding-right: 10px;
              background: none;
              &:hover {
                color: $cnBlue !important;
              }
            }
          }
          @media only screen
            and (max-width: 800px) {
              display: block;
          }
        }
        &.copyright_m {
          font-size: 9px;
          font-weight:100;
          display: none;
          @media only screen
            and (max-width: 800px) {
              display: block;
          }
        }
        @media only screen
          and (max-width: 800px) {
            width: 100%;
            padding:3px 0;
        }
      }
      a {
        font-family: $roboto-font-stack;
        color: $cnBlue;
        &:hover {
          color: $black;
        }
      }
    }
    @media only screen
      and (max-width: 800px) {
        display: none;
    }
  }
}

#blog-post, #hero, #hero-inner {
  /*padding-top:120px;
  @media only screen
    and (max-width: 800px) {
      padding-top:60px;
  }
  @media only screen
    and (max-width: 500px) {
      padding-top:25px;
  }*/
}

#hero-inner {
  @media only screen
    and (max-width: 800px) {
      padding-top:80px;
  }
  @media only screen
    and (max-width: 500px) {
      padding-top:60px;
  }
}
